<%
## Tangent, an online sign-up sheet
## Copyright (C) 2008 Justin Ludwig and Adam Stuenkel
## 
## This program is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License
## as published by the Free Software Foundation; either version 2
## of the License, or (at your option) any later version.
## 
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
## 
## You should have received a copy of the GNU General Public License
## along with this program; if not, write to the Free Software
## Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
-%>

<% @page_title = "My Stuff" %>

<h1>My Stuff</h1>
<p>These are the activities to which I've signed up, and the events I coordinate.</p>

<table class="tbl">
<caption>My Upcoming Activities</caption>
<thead>
    <tr><th>Event</th><th>Activity</th><th>Start</th><th>End</th><th class="tools">&nbsp;</th></tr>
</thead>
<tbody>
</tbody>
</table>
<div>
	<%= link_to "My Past Activities", "/my/activities/past" %>
</div>

<table class="tbl">
<caption>My Upcoming Events</caption>
<thead>
    <tr><th>Event</th><th>Start</th><th>End</th><th class="tools">&nbsp;</th></tr>
</thead>
<tbody>
</tbody>
</table>
<div class="lr-container">
<span class="l">
	<%= link_to "My Past Events", "/my/events/past" %>
</span>
<span class="r">
	<%= button_to "New Event", "/events/new" %>
</span>
</div>
